/*-------------------------------------------------------------------------------
	1.5 Float Left, Right, Clearfix, Alignment
-------------------------------------------------------------------------------*/

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; }
.clear{ clear:both; overflow: hidden; height:0; zoom: 1; }

.right { float:right; display:block; }
.left { float:left; display:block; }

/*-------------------------------------------------------------------------------
	1.7 Center UL
-------------------------------------------------------------------------------*/

.cul { width:100%; overflow:hidden; position:relative }
.cul > ul { clear:left; float:left; position:relative; left:50%; text-align:center; list-style:none; margin:0; padding:0 }
.cul > ul > li { display:block; float:left; position:relative; right:50% }
.cul > ul > li > a { display:block; margin:0 10px }
.cul > ul > li > a:hover, .cul > ul > li > a:active, .cul > ul > li.active > a { }

/*-------------------------------------------------------------------------------
	1.8 Horizontal UL
-------------------------------------------------------------------------------*/

.hul > ul{ display:block; float:left; width:auto; }
.hul > ul > li{ display:block; float:left; }
.hul > ul > li > a{ display:block; float:left; }
.hul > ul > li > a:hover, .hul > ul > li > a:active, .hul > ul > li.active > a{ }

/*-------------------------------------------------------------------------------
	ADMIN
-------------------------------------------------------------------------------*/

.bbt-admin{
	padding-right:20px;
}

.bbt-admin-nav a,
.bbt-admin-nav .divider{
	margin:0 5px;
	text-decoration: none;
}

.bbt-admin h1{

}

.bbt-admin h2{
	background: #ddd;
	color: #000;
	font-weight: bold;
	padding: 10px;
	margin:0;
	text-transform: uppercase;
}

.bbt-admin img{
	border:1px solid #999;
	max-width: 100%;
}

.bbt-admin .wrap{
	padding:10px 25px 30px 25px;
	border:1px solid #ddd;
	margin:0;
	background:#FFF;
}

.bbt-admin .code{
	background: none repeat scroll 0 0 #292d30;
	border: 0 none;
	color: #fff;
	font: 12px Arial;
	padding: 15px;
}

.bbt-admin .code pre,
.bbt-admin .code code{
	font: 14px/1.5em "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------------
	Menu Separate
-------------------------------------------------------------------------------*/

#wpadminbar #wp-admin-bar-wdcab_root a{
	font-weight:bold;
}

#adminmenu li.wp-menu-separator{
	margin:0;
	height:auto;
}

#adminmenu div.separator{
	height:1px;
	border-bottom:1px solid #666;
}

/*-------------------------------------------------------------------------------
	Login
-------------------------------------------------------------------------------*/

.login{
	background:url(/wp-content/themes/bbt/admin/images/login-bg.jpg) no-repeat 50% 50%/cover;
}

.login h1 a{
	width:auto;
	height:31px;
	margin-bottom:50px;
	background:url(/wp-content/themes/bbt/admin/images/login-logo.png) no-repeat 50% 50%;	
}

/*-------------------------------------------------------------------------------
	Wordpress SEO fix
-------------------------------------------------------------------------------*/

.wp-pointer{
	display:none !important;
}