/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Huge
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1440px){}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: for laptops etc
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and (max-width: 1320px){

}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Small
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and  (max-width: 1210px) {
	#home-shop .divider {
		margin-bottom: 15px;
	}

	#home-shop p {
		line-height: 27px;
	}

	#home-about-layout .col,
	#home-about-layout .col .scale-img {
		height: 360px;
	}

	.centered-wrapper {
		width: 70%;
	}

}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Tablet
------------------------------------------------------------------------------------*/
@media only screen  and (max-width: 1040px){

	/*	Header
	---------------------------------------------------------*/
	#header.scroll-init,
	#header {
		height: 51px;
	}

	#hero.hero-embed {
		margin-top: 50px;
	}

	#header.scroll-init #logo,
	#header #logo {
		width: 175px;
		top: -7px;
	}

	#header.scroll-init #quote,
	#header #quote {
		width: 205px;
		top: -10px;
		display: block;
		opacity: 1;
	}

	#header #main-nav,
	#header.scroll-init #main-nav{
		right: -100px;
	}

	#header #mobile-nav,
	#header.scroll-init #mobile-nav {
		top:16px;
	}

	/*	Work
	---------------------------------------------------------*/
	.wrap-projects .project-item {
		height: 320px;
	}

	/*	Shortcodes
	---------------------------------------------------------*/
	.bg-fixed {
		background-attachment: inherit;
	}

	/*	Text - Titles
	---------------------------------------------------------*/
	h1 { font-size: 36px; }
	h2 { font-size: 30px; }
	h3 { font-size: 26px; }
	h4 { font-size: 22px; }
	h5 { font-size: 18px; }
	h6 { font-size: 16px; }

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 5px;
		letter-spacing: 3px;
		line-height: normal;
	}

	.entry-content ul li,
	.entry-content ol li,
	.entry-content,
	.entry-content p,
	p {
		font-size: 13px;
		line-height: 21px;
	}

	.flexible-content-one hr,
	.divider {
		width: 35px;
		margin-bottom:15px;
		height: 2px;
	}

	.entry-content a:hover:not(.fa)::before,
	.entry-content a:focus:not(.fa)::before {
		top: 16px;
	}

	.entry-content a:not(.fa)::before {
		height: 1px;
	}

	/*	Buttons
	---------------------------------------------------------*/
	.btn,
	.btn.large,
	.btn.small {
	    font-size: 11px;
	    line-height: 15px;
	    min-width: 170px;
	    padding: 6px 0 5px;
	}

	.btn.chainsaw-icon > .chainsaw {
		background-size: 40px 40px;
		top:-14px;
	}

	/*	Home Shop
	---------------------------------------------------------*/
	#home-shop .divider {
		margin-bottom: 10px;
	}

	/*	Home about
	---------------------------------------------------------*/
	#home-about-layout .col,
	#home-about-layout .col .scale-img {
		height: 280px;
	}

	/*	Featured Work
	---------------------------------------------------------*/
	#featured-work header {
		width: 70%;
	}

	#featured-work header > h5 {
		font-size: 24px;
		letter-spacing: 3px;
		margin-bottom: 8px;
	}

	#featured-work header > p {
		font-size: 13px;
		line-height: 21px;
	}

	#featured-work .wrap-projects .project-item {
		height: 260px;
	}

	/*	Project item
	---------------------------------------------------------*/
	.wrap-projects .project-item .wrap-info h4 {
		font-size: 26px;
	    letter-spacing: 3px;
	    line-height: 28px;
	}

	.wrap-projects .project-item .wrap-info p {
		font-size: 12px;
		letter-spacing: 1px;
	}

	.single-work .half-height {
		height: 46vh;
	}

	/*	Subpage
	---------------------------------------------------------*/
	#hero .quote p,
	#hero .quote h1,
	#hero .quote h2 {
		 font-size: 22px;
		 letter-spacing: 1px;
		 line-height: 34px;
	}

	.featured-image {
		margin-bottom: 4rem;
	}

	.subpage-layout .header h1 {
		font-size: 32px;
	    letter-spacing: 3px;
	}

	.flexible-content-one {
		margin: 0 0 4rem;
	}

	.single-work .flexible-content-one,
	.page-id-25 .flexible-content-one,
	.flexible-content-one.centered-header {
		margin-top: 0;
		margin-bottom: 2rem;
	}

	.centered-wrapper {
		width: 60%;
	}


	/*	Advanced galleries
	---------------------------------------------------------*/
	.gallery-style-right-3 figure:nth-child(2),
	.gallery-style-3 figure:nth-child(2) {
		margin-bottom: 16px;
	}

	.gallery-style-2 .img-link,
	.gallery-style-3 figure:nth-child(1) > .img-link,
	.gallery-style-right-3 figure:nth-child(1) > .img-link {
		height: 456px;
	}

	.gallery-style-right-3 figure:nth-child(2) > .img-link,
	.gallery-style-right-3 figure:nth-child(3) > .img-link,
	.gallery-style-3 figure:nth-child(2) > .img-link,
	.gallery-style-3 figure:nth-child(3) > .img-link  {
		height: 220px;
	}

	.gallery-style-2 .item:nth-child(1) {
		padding-right: 8px;
	}

	.gallery-style-2 .item:nth-child(2) {
		padding-left: 8px;
	}

	/*	Work
	---------------------------------------------------------*/
	.wrap-projects .project-item {
		height: 360px;
	}


	/*	Project Nav
	---------------------------------------------------------*/
	#project-nav h5 {
		color: #FFF;
		font-size: 14px;
		margin-bottom: 5px;
		letter-spacing: 3px;
	}

	#project-nav .divider {
		width: 15px;
	}

	#project-nav p {
		color: #FFF;
		font-size: 11px;
		letter-spacing: 1px;
		margin: 0;
	}

	/*	Work Nav pagination
	---------------------------------------------------------*/
	#work-nav a.prev::after,
	#work-nav a.next::after {
		font-size: 14px;
		width: auto;
		top: 34%;
	}

	#work-nav a.prev::after {
		text-align: right;
		right: 5%;
	}

	#work-nav a.next::after {
		text-align: left;
		left: 5%;
	}

	#work-nav .next .ent-arr {
		right: 55%;
	}

	#work-nav .next .thumb {
		right: 0;
	}

	#work-nav .prev .ent-arr {
		left: 55%;
	}

	#work-nav .prev .thumb {
		left: 0;
	}

}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: All mobile devices
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){

	/*iPhone fix*/
	html{ -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}

	.page-id-23 .centered-wrapper {
		width: 100%;
	}

	.divider.center-mobile {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.container {
		padding: 0;
	}

	.row {
		margin: 0;
	}

	.no-banner {
		padding-top: 1rem;
	}



	/*	Text - Titles
	---------------------------------------------------------*/
	h1 { font-size: 28px; }
	h2 { font-size: 24px; }
	h3 { font-size: 22px; }
	h4 { font-size: 20px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }

	.entry-content ul li,
	.entry-content ol li,
	.entry-content,
	.entry-content p,
	p {
		font-size: 12px;
		line-height: 20px;
	}

	.entry-content p,
	p {
		margin-bottom: 10px;
	}

	.flexible-content-one hr,
	.divider {
		width: 30px;
	}

	/*	Header scrolling down
	---------------------------------------------------------*/
	#page.scrolling-down #header {
		background-color: rgba(251,251,251,0);
	}

	#page.scrolling-down #header #logo {
		opacity: 0;
	}

	#page.scrolling-down #header #mobile-nav {
		background-color: rgba(251,251,251,.8);
		top:0;
	}

	/*	Header
	---------------------------------------------------------*/
	#header.scroll-init,
	#header {
		height: 36px;
	}

	#hero.hero-embed {
		margin-top: 35px;
	}

	#header.scroll-init #logo,
	#header #logo {
		width: 120px;
		top: -4px;
	}

	#header.scroll-init #quote,
	#header #quote {
		display: none;
	}

	#header #mobile-nav,
	#header.scroll-init #mobile-nav {
		top:5px;
	}

	#header .hamburger {
		width: 32px;
	}

	#fullscreen-menu:hover {
		width:270px;
	}
	/*	Footer
	---------------------------------------------------------*/
	#footer-nav a {
		font-size: 10px;
		letter-spacing: 1px;
	}

	.copyrights {
		letter-spacing: 1px;
	}


	/*	Mobile fullscreen menu
	---------------------------------------------------------*/
	#secondary-logo img {
		width: 190px;
		margin-top: 1rem;
	}

	#fullscreen-menu {
		width: 180px;
		padding: 1.5rem 0 1rem;
	}

	#fullscreen-menu ul li {
		margin:0;
	}

	#fullscreen-menu ul li a {
		font-size: 16px;
	}

	#close-nav {
		top: 8px;
		right: 8px;
	}

	#social-nav {
		margin: 1rem 0 0;
	}

	#mobile-nav-container .copyrights {
		bottom: 2px;
	}

	/*	Preloaders
	---------------------------------------------------------*/
	.pace {
		background-size: 160px auto;
	}

	.pace .pace-progress {
		height: 2px;
	}

	#preloader .wrap-loader,
	#preloader svg {
		width: 200px;
	}

	/*	Home Template
	---------------------------------------------------------*/
	#home-shop .main-wrapper {
		padding: 5rem 0 4rem;
	}

	#home-shop .first-row {
		margin-bottom: 0;
	}

	#home-shop .first-row .item-1 {
	    float: none;
	    width: 100%;
	    margin: 0 0 3rem;
	    text-align: center;
	}

	#home-shop .first-row .item-2,
	#home-shop .first-row .item-3 {
		width: 50%;
		margin: 0;
		float: left;
		position: relative;
	}

	#home-shop .second-row .item-1,
	#home-shop .second-row .item-2  {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		text-align: center;
	}

	#home-shop .second-row .item-2 {
		margin-bottom: 3rem;
	}

	#home-shop .first-row .item-2,
	#home-shop .first-row .item-3,
	#home-shop .second-row .item-2 {
		height: 150px;
		overflow: hidden;
	}

	#home-shop .second-row .item-2 a {
		display: block;
		width: 50%;
		float: left;
	}

	#home-shop .second-row .item-2 a:first-child {
		position: relative;
		bottom: 30%;
	}

	/*	Home about
	---------------------------------------------------------*/
	#home-about-layout .col,
	#home-about-layout .col .scale-img {
		height: 180px;
		width: 100%;
	}

	#home-about-layout .col:nth-child(3) {
		display: none;
	}

	#home-about-layout .col.item-1 {
		float: none;
		height: auto;
		padding: 0 0 3rem;
		text-align: center;
		width: 100%;
	}

	#home-about-layout .col.item-1 .desc {
		padding: 0;
	}

	#home-about-layout .main-wrapper {
		padding: 4rem;
	}

	/*	Featured work
	---------------------------------------------------------*/
	.single #content.subpage .entry-content {
		margin-bottom: 0;
	}

	#featured-work {
		padding: 4rem 0 0;
	}

	#featured-work header {
		width: 90%;
	}

	#featured-work header > h5 {
		font-size: 26px;
		letter-spacing: 3px;
		margin-bottom: 8px;
	}

	#featured-work header > p {
		font-size: 12px;
		line-height: 18px;
	}

	#featured-work .wrap-projects .project-item {
		height: 180px;
	}

	.gallery-style-2-full figure {
		margin-bottom: 1rem;
	}

	/*	Buttons
	---------------------------------------------------------*/
	.btn,
	.btn.large,
	.btn.small {
	    font-size: 10px;
	    line-height: 15px;
	    min-width: 160px;
	    padding: 3px 0 5px;
	}

	.btn.chainsaw-icon > .chainsaw {
		background-size: 35px 35px;
		top: -15px;
	}

	/*	Subpage
	---------------------------------------------------------*/
	#hero .quote {
		padding: 1rem 1rem 0 0;
	}

	#hero .quote p,
	#hero .quote h1,
	#hero .quote h2 {
		 font-size: 18px;
		 letter-spacing: 1px;
		 line-height: 28px;
	}

	.featured-image {
		margin-bottom: 4rem;
	}

	#content.subpage .entry-content {
		margin-bottom: 2rem;
	}

	.subpage-layout .header {
		padding-top: 2rem;
		margin-bottom: 2rem;
	}

	.subpage-layout .header h1 {
		font-size: 26px;
	    letter-spacing: 2px;
	}

	.flexible-content-one {
		margin: 0 0 4rem;
	}

	.single-work .flexible-content-one,
	.page-id-25 .flexible-content-one,
	.flexible-content-one.centered-header {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.centered-wrapper {
		width: 94%;
	}


	/*	Advanced galleries
	---------------------------------------------------------*/
	.gallery-style-right-3 figure:nth-child(2),
	.gallery-style-3 figure:nth-child(2) {
		margin-bottom: 10px;
	}

	.gallery-style-2 .img-link,
	.gallery-style-3 figure:nth-child(1) > .img-link,
	.gallery-style-right-3 figure:nth-child(1) > .img-link {
		height: 340px;
	}

	.gallery-style-right-3 figure:nth-child(2) > .img-link,
	.gallery-style-right-3 figure:nth-child(3) > .img-link,
	.gallery-style-3 figure:nth-child(2) > .img-link,
	.gallery-style-3 figure:nth-child(3) > .img-link  {
		height: 165px;
	}

	.gallery-style-2 .item:nth-child(1) {
		padding-right: 5px;
	}

	.gallery-style-2 .item:nth-child(2) {
		padding-left: 5px;
	}

	/*	Form
	---------------------------------------------------------*/
	.field input[type="text"],
	.field input[type="email"],
	.field input[type="password"],
	.field input[type="url"],
	.field textarea {
		font-size: 12px;
		padding-top: 8px;
		padding-bottom: 5px;
	}

	/*	Work
	---------------------------------------------------------*/
	.wrap-projects .project-item {
		height: 280px;
	}

	.wrap-projects .project-item .wrap-info h4 {
		font-size: 19px;
		line-height: 20px;
		letter-spacing: 2px;
	}

	.wrap-projects .project-item .wrap-info p {
		font-size: 9px;
		line-height: 15px;
		letter-spacing: 1px;
	}

	.wrap-projects .btn {
		min-width: 120px;
	}

	.single-work .subpage-layout .header {
		padding-bottom: 0;
	}

	.single-work .half-height {
		height: 46vh;
	}


	/*	Animations
	---------------------------------------------------------*/
	#work-projects .visible-animation,
	.loaded #hero .quote,
	#home-shop .visible-animation,
	#home-about-layout.visible-animation .container,
	.page-id-19 .flexible-content-one.visible-animation,
	.page-id-25 .flexible-content-one.visible-animation {
	  opacity: 1;
	}

	/*	Project Nav
	---------------------------------------------------------*/
	#project-nav .vcenter-outer,
	#project-nav .vcenter-inner {
		display: block;
	}

	#project-nav {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 4rem;
	}

	#project-nav cite {
		height: auto;
		min-height: 95px;
		padding: 10px 2px 5px;
	}

	#project-nav h5 {
		color: #FFF;
		font-size: 11px;
		letter-spacing: 1px;
		display: block;
	}


	#project-nav p {
		color: #FFF;
		font-size: 9px;
		line-height: 14px;
		letter-spacing: 0;
		margin: 0;
	}

	/*	Work Nav pagination
	---------------------------------------------------------*/
	#work-nav .all {
		width: 12%;
	}

	#work-nav .arrows {
		width: 44%;
	}

	#work-nav a {
		height: 40px;
	}

	#work-nav a.prev::after,
	#work-nav a.next::after {
		font-size: 9px;
		width: auto;
		top: 38%;
	}

	#work-nav a.prev::after {
		text-align: right;
		right: 5%;
	}

	#work-nav a.next::after {
		text-align: left;
		left: 5%;
	}

	#work-nav .arrows .ent-arr {
		font-size: 20px;
		top: 18%;
		text-align: center;
	}

	#work-nav .next .ent-arr {
		right: 65%;
	}

	#work-nav .prev .ent-arr {
		left: 65%;
	}

	#work-nav .thumb {
		width: 40px;
		height: 40px;
	}

	#work-nav .all .wrap {
		top: 26%;
		width: 20px;
	}

	#work-nav .all span {
		margin: 1px;
		width: 8px;
		height: 8px;
	}



}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Portrait only
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px){

	/*	Home shop
	---------------------------------------------------------*/
	#home-shop .first-row .item-2,
	#home-shop .first-row .item-3,
	#home-shop .second-row .item-2 {
		height: 90px;
	}

	/*	Featured work
	---------------------------------------------------------*/
	#featured-work .wrap-projects .project-item:last-child {
		display: none;
	}

	#featured-work .wrap-projects .project-item {
		width: 50%;
	}

	/*	Subpage
	---------------------------------------------------------*/
	#hero .quote {
		padding: .5rem 1rem 0 0;
		width: 55%;
		top: 38%;
	}

	#hero .quote p,
	#hero .quote h1,
	#hero .quote h2 {
		 font-size: 14px;
		 letter-spacing: 1px;
		 line-height: 22px;
	}

	/*	Advanced galleries
	---------------------------------------------------------*/
	.gallery-style-right-3 figure:nth-child(2),
	.gallery-style-3 figure:nth-child(2) {
		margin-bottom: 8px;
	}

	.gallery-style-2 .img-link,
	.gallery-style-3 figure:nth-child(1) > .img-link,
	.gallery-style-right-3 figure:nth-child(1) > .img-link {
		height: 280px;
	}

	.gallery-style-right-3 figure:nth-child(2) > .img-link,
	.gallery-style-right-3 figure:nth-child(3) > .img-link,
	.gallery-style-3 figure:nth-child(2) > .img-link,
	.gallery-style-3 figure:nth-child(3) > .img-link  {
		height: 136px;
	}

	.gallery-style-2 .item:nth-child(1) {
		padding-right: 4px;
	}

	.gallery-style-2 .item:nth-child(2) {
		padding-left: 4px;
	}

	/*	Work
	---------------------------------------------------------*/
	.wrap-projects .project-item {
		height: 200px;
		width: 100%;
		border-right: none !important;
	}

	.wrap-projects .project-item .wrap-info p {
		display: none;
	}

}/*Close @media*/
