/*-------------------------------------------------------------------------------
	CSS Content - All css merge in one file
---------------------------------------------------------------------------------
	1. Styles
================================================================================*/


/* 1. Styles
-------------------------------------------------------------------------------*/

body {
	color: #333;
	position:relative;
	background-color:#ffffff;
	font: 100%/1.5 Helverica,sans-serif;
    text-rendering: optimizelegibility;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: #f6f6f7;
	opacity: 0; /*Important: Preloader Animation*/

	-webkit-transition:opacity 1s ease 700ms;
	-moz-transition:opacity 1s ease 700ms;
	-o-transition:opacity 1s ease 700ms;
	transition:opacity 1s ease 700ms;
}


#page img {
	max-width: 100%;
	height: auto;
}

#page.page-name-about #hero {
	background-position: right 100px;

	-webkit-transition: all 100ms ease;
	transition: all 100ms ease;
}

#page.page-name-about.scrolling-down #hero {
	background-position: right 50px;
}

@media screen and (max-width:1041px){
	#page.page-name-about #hero,
	#page.page-name-about.scrolling-down {
		background-position: right 36px;
	}
}

::-moz-selection{ background-color:#000; color: #FFF; text-shadow: none;}
::selection	 { background-color:#000; color: #FFF; text-shadow: none;}
ins			 { background-color:#000; color: #FFF; text-decoration: none;}
mark			 { background-color:#000; color: #FFF; font-style: normal; font-weight: normal;}
a:link			 { -webkit-tap-highlight-color:#000;}

a,
a:hover,
a:active {
	-webkit-transition:color 200ms ease;
	-moz-transition:color 200ms ease;
	-o-transition:color 200ms ease;
	transition:color 200ms ease;
	outline: none;
}

a{ color:#0e4c8b; text-decoration:none; cursor: pointer; }

body a:hover,
body a:focus { outline: none; }

.error404 #content {
	padding: 180px 80px;
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 56.2%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero.hero-embed {
	overflow: hidden;
	margin-top: 114px;
}


/* 2. Shortcodes
-------------------------------------------------------------------------------*/
.hide { display: none; }

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; }
.clear{ clear:both; overflow: hidden; height:0; zoom: 1; }

.right { float:right; display:block; }
.left { float:left; display:block; }

.tl{ text-align:left; }
.tr{ text-align:right; }
.tc{ text-align:center; }
.tl > img,
.tr > img,
.tc > img{ display: inline; }

ul, ul li, ol, ol li { margin:0; padding: 0; list-style-type: none; }

.cul { width:100%; overflow:hidden; position:relative }
.cul > ul { clear:left; float:left; position:relative; left:50%; text-align:center; list-style:none; margin:0; padding:0 }
.cul > ul > li { display:block; float:left; position:relative; right:50% }
.cul > ul > li > a { display:block; margin:0 10px }
.cul > ul > li > a:hover, .cul > ul > li > a:active, .cul > ul > li.active > a { }

.hul > ul{ display:block; float:left; width:auto; }
.hul > ul > li{ display:block; float:left; }
.hul > ul > li > a{ display:block; float:left; }
.hul > ul > li > a:hover, .hul > ul > li > a:active, .hul > ul > li.active > a{ }



.relative{ position: relative; }
.absolute{ position:absolute; }
.fixed{ position:fixed; }

.overflowHidden { overflow: hidden; }

.mauto{ margin-left:auto; margin-right:auto; }

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.bg-fixed {
	background-attachment: fixed;
}

@media screen and (max-width:1030px){

	.bg-fixed {
		background-attachment: inherit;
	}

}

/* VCENTER */
.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;
}
.vcenter-inner {
    display: table-cell;
    vertical-align: middle;
}

.flexible-content-one hr,
.divider {
	display: block;
	height: 3px;
	background-color: #000;
	width: 50px;
	margin-bottom: 20px;
}

/*Scale image*/
.scale-img {
	display: block;
	position: relative;
	overflow: hidden;
}

.scale-img img {
	-webkit-backface-visibility: hidden;
	-webkit-transition:all 4s ease;
	transition:all 4s ease;
}

.scale-img:hover img,
.scale-img:focus img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}


/*--------------------------------------------------------------------
		Forms
--------------------------------------------------------------------*/
input, textarea, select{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

fieldset { border: none; padding: 0; }

input,
input:hover,
input:focus,
textarea,
textarea:hover,
textarea:focus{
	transition:			450ms all ease;
	-moz-transition:	450ms all ease;
	-webkit-transition:	450ms all ease;
	-o-transition:		450ms all ease;
	-ms-transition:		450ms all ease;
}

label.error,
.field label.error{
	display:none !important;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="url"],
.field textarea {
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top:none;
    border-bottom: 3px solid #CCC;
    font-size:14px;
    line-height:18px;
    color:#333;
    display:block;
    padding: 10px 2px 6px 4px;
    width: 99%;
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field input[type="url"]:focus,
.field textarea:focus  {
	background-color: #FFF;
	border-color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="submit"],
textarea {
  -webkit-appearance:none;
  -webkit-border-radius:0;
}

/*--------------------------------------------------------------------
		NO JS
--------------------------------------------------------------------*/
.no-js #page { display: none; }
.no-js .no-js-msg {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	display: block;
	font-size: 4em;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-weight: bold;
	z-index: 100;
}


/*-------------------------------------------------------------------------------
	 Default Wordpress Article
-------------------------------------------------------------------------------*/

.entry-content img { max-width:100%; height: auto; display: block; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6{
	padding:0;
    color:#000;
}

.entry-content ul,
.entry-content ol {
	margin-left:30px;
	margin-bottom:30px;
}

.entry-content ul li{
	list-style: circle;
    margin-bottom:4px;
}

.entry-content ol li{
	list-style: decimal;
    margin-bottom:4px;
}

.entry-content ul li,
.entry-content ol li,
.entry-content,
.entry-content p {
    color:#333;
    font-weight: 400;
    font-size:18px;
    line-height:30px;
}

.entry-content p { margin:0 0 15px; }

.entry-content strong,
.entry-content p strong { font-weight: 700; }

blockquote{
	content:'"';
	display: block;
	margin-bottom:15px;
	font-style: italic;
	font-family: Georgia !important;
	font-style: italic !important;
	padding: 20px;
	text-align: center;
}

blockquote p{
	display: inline;
	font-family: Georgia !important;
	font-style: italic !important;
}

.blockquote p {
	position: relative;
	padding: 1rem 2rem 0;
	background-color: transparent;
}

.blockquote p:before,
.blockquote p:after {
	color: #CCC;
	position: absolute;
	height: 0.5rem;
	font-size: 10em;
	line-height: 0.75em;
	top:-10px;
}

.blockquote p:before {
	content: '“';
	left: -0.3em
}

.blockquote p:after {
	content: '”';
}

.entry-content a:not(.fa){
	font-style: italic;
	text-decoration: underline;
	outline: none;
	color: #333;
}

.entry-content a:not(.fa):hover{
	text-decoration: none;
}

/* Slide right */
/*
.entry-content a:not(.fa) {
	position: relative;
	outline: none;
	color: #333;
	vertical-align: bottom;
	text-decoration: none;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.entry-content a:not(.fa)::before,
.entry-content a:not(.fa)::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.entry-content a:not(.fa)::before {
	position: absolute;
	top: 0;
	bottom: auto;
	right: auto;
	left: 0;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: block;
	height: 2px;
	content: ' ';

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.entry-content a:not(.fa):hover::before,
.entry-content a:not(.fa):focus::before {
	z-index: 1;
	top: 22px;
	opacity: 1 !important;
}

.entry-content a:not(.fa):hover {
	opacity: .8;
	text-decoration: none !important;
}
*/


/*-------------------------------------------------------------------------------
	Wordpress images
-------------------------------------------------------------------------------*/
.aligncenter { margin-left: auto; margin-right: auto; }
.alignleft { float: left; margin-right: 15px;  }
.alignright { float: right; margin-left: 15px;  }


/*-------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 { margin: 0 0 10px 0; color: #333; text-transform: uppercase; font-weight: 400; }

h1 { font-size: 46px; letter-spacing: 6px; }
h2 { font-size: 40px; letter-spacing: 6px; }
h3 { font-size: 32px; letter-spacing: 5px; }
h4 { font-size: 28px; letter-spacing: 4px; }
h5 { font-size: 22px; letter-spacing: 3px; }
h6 { font-size: 18px; letter-spacing: 2px; }

p {
	font-size: 17px;
	line-height: 30px;
	margin: 0 0 15px;
}

strong	{ font-weight: 700; }
em		{ font-style: italic; }
small	{ font-size: 85%; }

/*-------------------------------------------------------------------------------
	Font Family
-------------------------------------------------------------------------------*/


#preloader .text,
.copyrights,
#newsletter-form,
#footer-nav a,
.footer-contact,
#project-nav h5,
#project-nav p,
#project-nav   {
	font-family: 'Roboto';
	font-weight: 500;
}

#hero .text,
#footer-contact,
.newsletter-form input[type="email"],
.newsletter-form input[type="email"]:focus,
#work-nav a.prev::after,
#work-nav a.next::after {
	font-family: 'Roboto';
	font-weight: 300;
}

.wrap-projects .project-item .wrap-info p,
#fullscreen-menu ul li a,
#main-nav li a,
.btn,
.wrap-projects .project-item .wrap-info h4 {
	font-family: 'Roboto';
	font-weight: 400;
}

#featured-work header p,
#featured-work h1,
#home-shop h3,
#home-shop p,
#home-about h3,
#home-about p,
.subpage-layout .header h1,
.entry-content,
.content-row-2 h2,
.content-row-2 p,
h1,h2,h3,h4,h5,h6,
p,
.wpcf7-form .wpcf7-not-valid-tip,
.wpcf7-form .wpcf7-response-output {
	font-family: "Droid Serif";
}

/*--------------------------------------------------------------------
		Custom class
--------------------------------------------------------------------*/


#content .gallery-styles .bg-left .bg-cover {
	background-position: 0 0;
}

#content .gallery-styles .bg-center-bottom .bg-cover {
	background-position: center 100%;
}

#content .gallery-styles .bg-bottom .bg-cover {
	background-position: 0 100%;
}


@media screen and (max-width:767px){

	.fc-fullwidth-text {
		padding-left: 15px;
		padding-right: 15px;
	}

}


/*--------------------------------------------------------------------
	Media Template
--------------------------------------------------------------------*/
.media-wrapper {
	padding: 0 0 5rem;
	opacity: 0;

	-webkit-transition: .6s all ease;
	transition: .6s all ease;
}

.media-wrapper.loaded {
	opacity: 1 !important;
}

.media-wrapper .wrap-item {
	background-color: rgba(0,0,0,1);
	-webkit-transition: 1s all ease;
	transition: 1s all ease;

	-webkit-transform: scale(1);
	transform: scale(1);

	opacity: 1;
	margin-bottom: 30px;
}

.media-wrapper:hover .wrap-item {
	opacity: .5;
}

.media-wrapper .wrap-item:hover {
	-webkit-transform: scale(1.04);
	transform: scale(1.04);

	opacity: 1 !important;
}

.media-wrapper .wrap-item .title {
	color: #FFF;
	font-size: 19px;
	display: block;
	padding: 20px 30px;
	line-height: 1.3;
	text-transform: inherit;
	letter-spacing: 0;
	margin: 0;
}

.media-wrapper .wrap-item img {
	max-width: 100%;
	margin: 0;
	height: auto;
	display: block;
	border: 1px solid #000;
}


/*--------------------------------------------------------------------
		Advanced galleries global
--------------------------------------------------------------------*/
.gallery-style-3 figure a {
	display: block;
}

.gallery-scale figure {
	overflow: hidden;
}

.gallery-scale figure img,
.gallery-scale figure .img-link {
	-webkit-transition:4s all ease;
	transition:4s all ease;

	-webkit-transform: scale(1);
	transform: scale(1);
}

.gallery-scale.touch figure img,
.gallery-scale figure:hover img,
.gallery-scale figure:hover .img-link {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/*--------------------------------------------------------------------
		Advanced galleries- Portrait LEFT
--------------------------------------------------------------------*/

.gallery-style-3 figure:nth-child(1) {
	margin-right: 2%;
}


/*--------------------------------------------------------------------
		Advanced galleries - Portrait RIGHT
--------------------------------------------------------------------*/
.gallery-style-right-3 figure:nth-child(1) {
	margin-left: 2%;
	float: right;
}


/*--------------------------------------------------------------------
		Advanced galleries widths
--------------------------------------------------------------------*/
.gallery-style-3 figure:nth-child(1),
.gallery-style-right-3 figure:nth-child(1) {
	width: 32%;
}

.gallery-style-right-3 figure:nth-child(2),
.gallery-style-right-3 figure:nth-child(3),
.gallery-style-3 figure:nth-child(2),
.gallery-style-3 figure:nth-child(3) {
	width: 66%;
}

/*--------------------------------------------------------------------
		Advanced galleries fixed heights and margin
--------------------------------------------------------------------*/
.gallery-style-right-3 figure:nth-child(2),
.gallery-style-3 figure:nth-child(2) {
	margin-bottom: 26px;
}

.gallery-style-2 .img-link,
.gallery-style-3 figure:nth-child(1) > .img-link,
.gallery-style-right-3 figure:nth-child(1) > .img-link {
	height: 626px;
}

.gallery-style-right-3 figure:nth-child(2) > .img-link,
.gallery-style-right-3 figure:nth-child(3) > .img-link,
.gallery-style-3 figure:nth-child(2) > .img-link,
.gallery-style-3 figure:nth-child(3) > .img-link  {
	height: 300px;
}


/*--------------------------------------------------------------------
		Advanced galleries 2
--------------------------------------------------------------------*/

.gallery-style-2 .img-link {
	width: 100%;
	display: block;
}


/*--------------------------------------------------------------------
		Advanced galleries full
--------------------------------------------------------------------*/

.gallery-style-2-full .img-link {
	width: 100%;
	display: block;
}

.gallery-style-2-full .item {
	overflow: hidden;
}


/*--------------------------------------------------------------------
		Flexible content
--------------------------------------------------------------------*/
.flexible-content-one {
	margin: 4rem 0;
}

.flexible-content-one hr {
	margin: 0;
}


.centered-wrapper {
	width: 50%;
	margin: 0 auto;
}

#page .remove-padding .col-lg-3,
#page .remove-padding .col-lg-4,
#page .remove-padding .col-lg-6{
	padding: 0;
}

.single-work .gallery-scale,
.page-id-25 .gallery-scale {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.fc-text-two-col,
.fc-text-left-col,
.fc-text-right-col,
.centered-header {
	margin: 9rem 0 10rem;
}

.flexible-content-one h3 {
	line-height: initial;
}



.page-id-23 .centered-header {
	margin-top: 0;
}

/*--------------------------------------------------------------------
		Content Animations
--------------------------------------------------------------------*/
#work-projects .visible-animation,
.loaded #hero .quote,
#home-shop .visible-animation,
#home-about-layout.visible-animation .container,
.page-id-19 .flexible-content-one.visible-animation,
.page-id-25 .flexible-content-one.visible-animation {
  opacity: 0;

  -webkit-animation-duration: 1.6s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: both;

  animation-duration: 1.6s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: both;
}


#work-projects .css-animation,
.loaded #hero .quote,
#home-shop .css-animation,
#home-about-layout.css-animation .container,
.page-id-19 .flexible-content-one.css-animation,
.page-id-25 .flexible-content-one.css-animation {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;


}

.loaded #hero .quote {
	 -webkit-animation-delay: 0.6s;
	 animation-delay: 0.6s;
}

.page-template-page-work #work-projects .project-item {
	-webkit-animation-name: none;
	animation-name: none;
	opacity: 1 !important;
}




/*--------------------------------------------------------------------
		Home
--------------------------------------------------------------------
.home.loaded #content {
	position: relative;
	z-index: 2;
}

.home.loaded #hero {
	z-index: 1;
}

.home.loaded #hero .scroll-to,
.home.loaded #work-projects {
  -webkit-animation-duration: 4.2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: bounceHome;
  -webkit-animation-delay: 1.8s;

  animation-duration: 4.2s;
  animation-fill-mode: both;
  animation-name: bounceHome;
  animation-delay: 1.8s;
}


@-webkit-keyframes bounceHome {
   0%, 20%, 50%, 80%, 100% {
	   -webkit-transform: translateY(0);
	   transform: translateY(0);
	  }
   50% {
	   -webkit-transform: translateY(-140px);
	   transform: translateY(-140px);
	   }
}

@keyframes bounceHome {
   0%, 20%, 50%, 80%, 100% {
	   -webkit-transform: translateY(0);
	   -ms-transform: translateY(0);
	   transform: translateY(0);
	   }
   50% {
	   -webkit-transform: translateY(-140px);
	   -ms-transform: translateY(-140px);
	   transform: translateY(-140px);
	   }
}
*/

/*--------------------------------------------------------------------
		HEADER
--------------------------------------------------------------------*/

#logo {
	width: 280px;
	height: auto;
	display: block;
	float: left;
	position: relative;
	left: 1px;
	top:auto;
	bottom: auto;
	right: auto;
}

#logo:hover {
	left: 5px;
}

#quote {
	float: left;
	width: 260px;
	height: auto;
	opacity: 1;
	cursor: pointer;
	position: relative;
	top:15px;
	left: -15px;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 600ms ease;
	-moz-transition:all 600ms ease;
	-o-transition:all 600ms ease;
	transition:all 600ms ease;
}

#header {
	z-index: 100;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: rgba(251,251,251,1);
	height: 115px;
}


#header .wrap-heade {
	position: relative;
}

#header.scroll-init {
	height: 51px;
}

#header.scroll-init #logo {
	width: 175px;
	top: -7px;
}

#header.scroll-init #quote {
	width: 205px;
	top: -10px;
	display: block;
	opacity: 1;
}

#mobile-nav {
	position:absolute;
	top:-100px;
	right: 15px;
	bottom: auto;
	left: auto;
	padding: 5px 5px 0 5px;
	background-color: rgba(251,251,251,0);
}

#header.scroll-init #mobile-nav {
	top:12px;
}

#mobile-nav .text {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	color: #000;
	opacity: 0;
}

#header .hamburger {
	height:auto;
	display:block;
	color: #000;
	width:35px;
}

#header .hamburger .line {
  background-color:#000;
  display: block;
  height:2px;
  margin-bottom:5px;
  width:100%;
  position: relative;
  top:0;
  left: 0;
  bottom: auto;
  right: auto;

  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
}

#mobile-nav.active .line.line-1,
#header .hamburger:hover .line.line-1 { top:-1px; }
#mobile-nav.active .line.line-3,
#header .hamburger:hover .line.line-3 { top:1px; }


/*SCROLLING DOWN ANIMATION*/
.page-id-25 #page.scrolling-down #header,
.page-template-page-about #page.scrolling-down #header,
.single #page.scrolling-down #header {
	top:-102px;
}

/*--------------------------------------------------------------------
		FOOTER
--------------------------------------------------------------------*/
#footer .inner-wrapper {
	background-color: rgba(255,255,255,.9);
	padding: 4rem 0 1rem;
	text-align: center;
}

/*--------------------------------------------------------------------
		FOOTER: Newsletter
--------------------------------------------------------------------*/
#footer .newsletter-form {
	width: 240px;
	margin: 1rem auto 3rem;
	position: relative;
}

#footer .newsletter-form input[type="email"]{
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #666;
	width: 86%;
	padding: 6px 10px 3px 2px;
	font-size: 12px;
	background-color: transparent;
}

#footer .newsletter-form input[type="email"]:focus {
	color: #000;
	border-color: #000;
}

#footer .newsletter-form input[type="submit"] {
	position: absolute;
	right: 6%;
	top: 3px;
	border: none;
	background: none;
	color: #000;
	opacity: 0;
	z-index:1;
	height: 30px;
	width: 30px;
	margin: 0;
}

#footer .newsletter-form .fa {
	position: absolute;
	right: 6%;
	top: 8px;
	left: auto;
	bottom: auto;
	font-size: 14px;
	color: #000;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-o-transition:all 200ms ease;
	transition:all 200ms ease;
}

#footer .newsletter-form:hover .fa {
	right: 8px;
}

/*--------------------------------------------------------------------
		FOOTER: Nav
--------------------------------------------------------------------*/
#footer-nav {
	margin-bottom: 1rem;
}

#footer-nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
 	margin: 0 6px;
 	font-size: 11px;
 	padding: 0 1px;

 	-webkit-transition:all 1s ease;
 	transition:all 1s ease;

 	background-color: rgba(149,165,166,0);
}

#footer-nav ul li:after {
	content: "-";
	position: absolute;
    right: -1px;
    top: 1px;
}

#footer-nav ul li:last-child::after {
	display: none;
}

#footer-nav a:hover {
	background-color: rgba(149,165,166,0.3);
}




/*--------------------------------------------------------------------
		FOOTER: copyrights-social
--------------------------------------------------------------------*/
.copyrights {
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 2px;
	color:#333;
}

#footer .copyrights {
	position: relative;
	top: 4px;
}

#footer .copyrights a {
	color: #000;
}

#footer .copyrights a:hover {
	text-decoration: underline;
}

.footer-social {
	margin: 2rem 0;
}

#f-social a {
	color: #000;
	font-size: 27px;
	margin: 0 8px;

	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

#f-social a.fa-facebook:hover,
#f-social a.fa-facebook:focus {
	color: #3B5998;
}

#f-social a.fa-instagram:hover,
#f-social a.fa-instagram:focus {
	color: #125688;
}


/*--------------------------------------------------------------------
		MAIN NAV
--------------------------------------------------------------------*/
#main-nav {
	float: right;
	position: relative;
	right: 10px;
	top: 9px;
	bottom: auto;
}

#header.scroll-init #main-nav {
	right: -100px;
}

#main-nav ul li a {
	color: #000;
	font-size: 15px;
	font-weight: 300;
	line-height: 19px;
	letter-spacing: 2px;

	 -webkit-backface-visibility: hidden;
	 -webkit-transition:all 400ms ease;
	 -moz-transition:all 400ms ease;
	 -o-transition:all 400ms ease;
	 transition:all 400ms ease;
}

#main-nav ul li a:hover {
	 transform:scale(1.6);
	 -moz-transform:scale(1.6);
}

#main-nav ul:hover li a:not(.hover) {
	 opacity: .2;
}

#main-nav ul .current_page_item a {
	font-weight: 500;
}

/*--------------------------------------------------------------------
		MOBILE CONTAINER
--------------------------------------------------------------------*/
#mobile-nav-container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 999;
	overflow: auto;
	text-align: center;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#mobile-nav-container.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

body.open-susami {
	overflow: hidden;
}

#secondary-logo img {
	display: block;
	margin-bottom: 1rem;
}

#mobile-nav-container .wrap-elements {
	position: relative;
	top:-20px;
}

#mobile-nav-container .copyrights {
	position: absolute;
	bottom: 8px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #FFF;
	margin: 0;
}

#mobile-nav-container .copyrights a {
	color: #FFF;
}

#mobile-nav-container .copyrights a:hover {
	text-decoration: underline;
}

#fullscreen-menu {
	width: 260px;
	margin: 0 auto;
	padding: 3rem 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	border-top-width: thin;
	border-bottom-width:thin;
}

#fullscreen-menu:hover {
	width:300px;
}

#fullscreen-menu ul li {
	width:100%;
	margin: 10px 0;
	height: 27px;

	transition:			400ms all ease;
	-moz-transition:	400ms all ease;
	-webkit-transition:	400ms all ease;
	-o-transition:		400ms all ease;
	-ms-transition:		400ms all ease;
}

#fullscreen-menu ul li a {
	color: #FFF;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 4px;
	font-weight: 100;

	transition:			400ms all ease;
	-moz-transition:	400ms all ease;
	-webkit-transition:	400ms all ease;
	-o-transition:		400ms all ease;
	-ms-transition:		400ms all ease;
}


#fullscreen-menu ul:hover li {
	opacity: 0.2;
}

#fullscreen-menu ul li:hover {
	opacity: 1 !important;
}

#social-nav {
	margin-top: 2rem;
	overflow: visible;
}
#social-nav li a {
	font-size: 22px;
	color: #FFF;
	text-align: center;

	transition:			200ms all ease;
	-moz-transition:	200ms all ease;
	-webkit-transition:	200ms all ease;
	-o-transition:		200ms all ease;
	-ms-transition:		200ms all ease;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#social-nav li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#close-nav {
	position:absolute;
	right:24px;
	top:15px;
	bottom: auto;
	color: #FFF;
	width: 40px;
	height: 40px;
	display: block;
	background: transparent url('images/close-icon.png') no-repeat center center / 40px 40px;

	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);


}

#close-nav:hover {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}






/*--------------------------------------------------------------------
		Work template
--------------------------------------------------------------------*/

.single #content.subpage .entry-content {
	margin-bottom: 2rem;
}

.single-work .subpage-layout .header {
	padding-bottom: 2rem;
}

.single-work .half-height {
	height:86vh;
}

#project-nav {
    padding: 6rem 0 2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}

#project-nav:hover,
#project-nav:focus{
	bottom: 0;
}

#project-nav .item {
	width: 33.3333%;
	float: left;
}

#project-nav cite {
	display: block;
	background-color:rgba(0,0,0,.8);
	position: relative;
	padding: 0 4px;
	margin: 0 1px;
	color: #FFF;
	cursor: default;
	text-align: center;
	font-style: normal;

	-webkit-transition: all 1s ease;
	transition: all 1s ease;

	height: 120px;
}

#project-nav cite:hover,
#project-nav cite:focus {
	background-color:rgba(0,0,0,.6);
}

#project-nav .item:first-child a{
	margin-left: 0;
}

#project-nav .item:last-child a {
	margin-right: 0;
}

#project-nav cite:hover h4,
#project-nav cite:hover p {

}

#project-nav h5 {
	color: #FFF;
	font-size: 16px;
	margin-bottom: 7px;
	letter-spacing: 4px;
}

#project-nav .divider {
	width: 20px;
	background-color: #FFF;
	margin-bottom: 6px;
}

#project-nav p {
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0;
}


 /*--------------------------------------------------------------------
		Work template
--------------------------------------------------------------------*/
 .page-template-page-work #content.subpage .entry-content {
	 margin-bottom: 2rem;
 }

/*--------------------------------------------------------------------
	Work Nav
--------------------------------------------------------------------*/
#work-nav {
  background-color: #f1f1f1;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#work-nav a {
  display: block;
  margin: 0;
  height: 65px;
  color: #000;
  float: left;
  position: relative;
  overflow: hidden;

  -webkit-transition:all 1.2s ease;
  transition:all 1.2s ease;
}

#work-nav a:hover,
#work-nav a:active {
	background-color: #FFF;
}

/*TITLE ATTRIBUTE*/
#work-nav a.prev::after,
#work-nav a.next::after {
	content: attr(title);
	position: absolute;
	font-size: 18px;
	text-align: center;
	color: #333;
	opacity: 0;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	top: 31%;

	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav a.prev:hover::after,
#work-nav a.next:hover::after  {
	opacity: 1;
}

/*ENTITY ARROWS*/
#work-nav .arrows {
  width: 41%;
}

#work-nav .arrows .ent-arr {
	font-size: 30px;
	width: 30px;
	position: absolute;
	left: auto;
	right: auto;
	top: 18%;
	bottom: auto;
	opacity: 1;
	text-align: center;

	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav .prev .ent-arr {
	left: 50%;
}

#work-nav .next .ent-arr {
	right: 50%;
}

#work-nav .prev:hover .ent-arr {
	left: 20%;
	opacity: 0;
}

#work-nav .next:hover .ent-arr {
	right: 20%;
	opacity: 0;
}

/*THUMB*/
#work-nav .thumb {
	width: 90px;
	height: 65px;
	display: block;
	position: absolute;
	top:0;
	bottom: auto;
	left: auto;
	right: auto;

	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav .prev .thumb {
	left: -95px;
}

#work-nav .next .thumb {
	right: -95px;
}

#work-nav .prev:hover .thumb {
	left: 0;
}

#work-nav .next:hover .thumb {
	right: 0;
}

/*THUMB*/
#work-nav .all {
  width: 18%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

#work-nav .all .wrap {
	width: 28px;
	margin:0 auto;
	position: relative;
	top: 28%;

	-webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;

    -webkit-transform: scale(1);
	transform: scale(1);
}

#work-nav .all:hover .wrap {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#work-nav .all span {
  width: 10px;
  height: 10px;
  margin: 2px;
  display: block;
  float: left;
  background-color: #000;
  position: relative;
  left: auto;
  right: auto;
  bottom: 0;
  top: 0;

  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}

#work-nav .all:hover span {
	background-color: #666;
}



/*--------------------------------------------------------------------
		Project item - Thumbs
--------------------------------------------------------------------*/
.home #work-projects {
	border-top:2px solid #FFF;
}



.wrap-projects .project-item {
	position: relative;
	height: 50vh;
	width: 50%;
	float: left;
	overflow: hidden;
	display: block;
	border-bottom: 2px solid #FFF;
}

.wrap-projects .project-item:nth-child(1n){
	border-right:2px solid #FFF;
}

.wrap-projects .project-item:last-of-type {
	border-bottom: none;
	border-right: none;
}

.home #work-projects .project-item:nth-child(3),
.home #work-projects .project-item:nth-child(4) {
	border-bottom:2px solid #FFF;
}

/*.wrap-projects .project-item.portrait {
	height: 360px;
}

.wrap-projects .project-item.landscape {
	height: 360px;
} */

.wrap-projects .project-item .wrap-info,
.wrap-projects .project-item .wrap-info .inner {
	transition:			900ms all ease;
	-moz-transition:	900ms all ease;
	-webkit-transition:	900ms all ease;
	-o-transition:		900ms all ease;
	-ms-transition:		900ms all ease;
}

.wrap-projects .project-item .wrap-info {
	background-color: rgba(0,0,0,.6);
	opacity: 0;
	color: #FFF;
	width: 100%;
	min-height: 100%;
	height: 100%;
	display: block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 4px;
	overflow: hidden;
}

.wrap-projects .project-item .wrap-info .inner {
	position: relative;
	top:40px;
	left: 0;
	right: auto;
	bottom: auto;
	padding: 0 2rem;
}

.wrap-projects .project-item .wrap-info h4 {
	color: #FFF;
	font-size: 34px;
	line-height: 38px;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.wrap-projects .project-item .wrap-info p {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Hover */
.wrap-projects .project-item.touch .wrap-info,
.wrap-projects .project-item:hover .wrap-info,
.wrap-projects .project-item:focus .wrap-info {
	opacity: 1;
}

.wrap-projects .project-item.touch .wrap-info .inner,
.wrap-projects .project-item:hover .wrap-info .inner,
.wrap-projects .project-item:focus .wrap-info .inner {
	top:0;
}



/*--------------------------------------------------------------------
		Feaured Work
--------------------------------------------------------------------*/
#featured-work {
	position: relative;
	padding: 4rem 0 0;
	background-color: #FFF;
}

#featured-work header {
	text-align: center;
	width: 40%;
	margin: 0 auto 5rem auto;
}

#featured-work header > h5 {
	color: #000;
	font-size: 36px;
	margin-bottom: 15px;
	font-weight: 400;
	letter-spacing: 6px;
	text-transform: uppercase;
}

#featured-work header > p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
}


#featured-work .wrap-projects .project-item {
	height: 360px;
	width: 33.3333%;
}


/*--------------------------------------------------------------------
		hero banner
--------------------------------------------------------------------*/
.no-banner {
	padding: 4rem 0;
}

#hero {
	position: relative;
	height: 100vh;
}

#hero .quote {
	border-right: 2px solid #fff;
    padding: 15px 35px 0 0;
    position: absolute;
    right: 7%;
    text-align: right;
    top: 24%;
    width: 40%;
    z-index: 3;
}

.home #hero .quote {
	top: auto;
	bottom: 19%;
}

#hero .main-image {
	position: absolute;
	width: 100%;
	min-height: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transition:all 2.2s ease;
	-moz-transition:all 2.2s ease;
	-o-transition:all 2.2s ease;
	transition:all 2.2s ease;
}

#hero .mask {
	position: absolute;
	width: 100%;
	min-height: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 1;
}


#hero .main-image.change-opacity {
	opacity: 0;
}


#hero .quote p,
#hero .quote h1,
#hero .quote h2 {
	color: #fff;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 38px;
    text-transform: none;
}

.wrap-scroll {
	position: absolute;
	width: 260px;
	left: 50%;
	bottom: 3%;
	margin-left: -130px;
	display: block;
	z-index: 3;
}

.wrap-scroll .text {
	font-size: 14px;
	line-height: 34px;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0.7;
	color: #FFF;
	text-align: center;
}

.scroll-arrows {
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
    display: block;
    height: 24px;
    margin: 0 auto 3px auto;
    width: 24px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.scroll-arrows.one,
.scroll-arrows.two,
.scroll-arrows.three{
	-webkit-animation:mouse-scroll 1.6s infinite;
	-moz-animation:mouse-scroll 1.6s infinite;
}

.scroll-arrows.one{
	-webkit-animation-delay:.2s;
	-moz-animation-delay:.2s;
	-webkit-animation-direction:alternate;
}

.scroll-arrows.two{
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-webkit-animation-direction:alternate;
	margin-top:-6px;
}

.scroll-arrows.three{
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-webkit-animation-direction:alternate;
	margin-top:-6px;
}

@-webkit-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@-moz-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@-o-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}



/*--------------------------------------------------------------------
		Home: Shop
--------------------------------------------------------------------*/

#home-shop .main-wrapper {
	padding:10rem 0 8rem 0;
	background-color: rgba(246,246,247,.9);
}

#home-shop h3 {
	margin-bottom: 10px;
}

#home-shop .divider {
	margin-bottom: 25px;
}

#home-shop .first-row {
	position: relative;
	margin-bottom: 3rem;
}

#home-shop .first-row .item-1 {
	float: left;
}

#home-shop .first-row .item-2 {
	position: absolute;
	bottom: 0;
	left: 0;
}

#home-shop .first-row .item-3 {
	float: right;
}

#home-shop .second-row {
	position: relative;
}

#home-shop .second-row .item-1 {
	position: absolute;
	left: 0;
	top: -1px;
}

#home-shop .second-row .item-2 {
	float: right;
}

#home-shop .col-1 { width: 30%; margin:0 3% 0 0; }
#home-shop .col-2 { width: 67%; }
#home-shop .half-col { width: 48%; }

#home-shop .image-4 img {
	max-width: 125%;
}

#home-shop .shop-img {
	display: block;
	position: relative;
	overflow: hidden;
}

/*--------------------------------------------------------------------
		Home: about
--------------------------------------------------------------------*/

#home-about-layout .main-wrapper {
	background-color: rgba(241,241,241,.9);
	padding: 10rem 0;
}

#home-about-layout .col {
	width: 50%;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#home-about-layout .col,
#home-about-layout .col .scale-img {
	height: 420px;
}

#home-about-layout .col .scale-img {
	display: block;

	-webkit-transition:4s all ease;
	transition:4s all ease;

	-webkit-transform: scale(1);
	transform: scale(1);
}

#home-about-layout .col:hover .scale-img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#home-about-layout .desc {
	padding: 4rem 4rem 0 1rem;
}

/*--------------------------------------------------------------------
		Subpage
--------------------------------------------------------------------*/
.subpage-layout .header {
 	padding:8rem 0 0 0;
 	text-align: center;
}

.subpage-layout.header-top {
	padding-top: 6rem;
}

.subpage-layout.header-top .header{
	margin-bottom: 6rem;
}

.subpage-layout .header h1 {
	color: #333;
	font-size: 44px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: 400;
}

.subpage-layout .header .divider {
	background-color: #333;
}

#content.subpage .entry-content {
	margin-bottom: 8rem;
}

.content-row-2 {
	padding:  6rem 0;
}

.content-row-2 h2 {
	color: #333;
	font-size: 38px;
	line-height: 38px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 25px;
}

.content-row-2 p {
	font-size: 18px;
	line-height: 30px;
}


/*------------------------------------------------------------------
			Social Media
------------------------------------------------------------------*/
#social-pages {
	margin: 0;
	padding: 1rem 0;
}

#social-pages ul {
	padding: 0;
	margin: 0;
}

#social-pages ul li a {
	margin: 0 10px;
	font-size: 26px;
	color: #000;

	transition:			200ms all ease;
	-moz-transition:	200ms all ease;
	-webkit-transition:	200ms all ease;
	-o-transition:		200ms all ease;
	-ms-transition:		200ms all ease;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#social-pages ul li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}


/*------------------------------------------------------------------
			Contact Form 7 - styles
------------------------------------------------------------------*/
.wpcf7-form {
  padding: 2rem 0 0;
  margin: 1rem 0 0;
}

input[type="submit"] {
	padding: 0 1px;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 3px solid #CCC;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
	margin: 1rem 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border-color: #000;
}

.wpcf7-form .field {
  margin-bottom: 3rem;
  position: relative;
}

.wpcf7-form .field label {
  position: relative;
  left: 1px;
}

.wpcf7-form .ajax-loader {
  position: absolute;
  left: 50%;
  margin-top: -8px !important;
  margin-left: -8px !important;
  bottom: -20px;
}

.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-form .wpcf7-not-valid-tip {
  position: absolute;
  right: 0;
  bottom: -17px;
  font-size: 10px;
  line-height: 12px;
}

.wpcf7-form .wpcf7-response-output {
  border: none;
  color: #fff;
  font-weight: 700;
  font-size:12px;
  letter-spacing: 1px;
  text-align: center;
}

.wpcf7-form .wpcf7-validation-errors {
  background: #f00;
}

.wpcf7-form .wpcf7-mail-sent-ok {
  background: #000;
}

.wpcf7-form .wpcf7-not-valid {
  background-color: #ffd2d2;
  border-color: #ffd2d2;
}

.wpcf7-form textarea {
  height: 180px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.wpcf7-form textarea:focus,
.wpcf7-form textarea:active {
  height: 300px;
}

.field-col .field {
  width: 49%;
}

.field-col .field-1 {
  float: left;
}

.field-col .field-2 {
  float: right;
}


/*--------------------------------------------------------------------
		Buttons
--------------------------------------------------------------------*/

.btn {
	display: inline-block;
	margin:10px 0;
	background-color:transparent;
	border-style: solid;
	border-width: 2px;
	position: relative;

	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform:uppercase;
    text-align: center;
    vertical-align: middle;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.btn:not(.chainsaw-icon) {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	overflow: hidden;
}

.btn > i {
	font-style: normal;
	position: relative;
	left: 0;
	right: auto;
	top: 0;
	bottom: auto;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-o-transition:all 200ms ease;
	transition:all 200ms ease;
}

.btn.chainsaw-icon > .chainsaw {
	background-image: url('../images/icon-chainsaw.svg');
	background-size: 50px 50px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;

	position: absolute;
	width: 56px;
	height: 56px;
	right: -18px;
	left: auto;
	bottom: auto;
	top: -10px;
	display: block;

	-webkit-transition:right 800ms ease;
	-moz-transition:right 800ms ease;
	-o-transition:right 800ms ease;
	transition:right 800ms ease;
}

.btn:hover > i {
	left: -12px;
}

.btn.chainsaw-icon:hover > .chainsaw {
	animation: spinChainsaw 2s linear infinite reverse;
	-webkit-animation: spinChainsaw 2s linear infinite reverse;
	right: -24px;
}

.btn.small {
	padding:8px 25px 8px 25px;
	min-width: 120px;

	font-size: 12px;
    line-height: 11px;
}

.btn.large {
	padding:10px 30px;
	min-width: 220px;

	font-size: 14px;
    line-height: 15px;
}

.btn.white {
	border-color:#FFF;
	color:#FFF;
}

.btn.black {
	border-color:#000;
	color: #000;
}

.btn:not(.chainsaw-icon):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn.white:before {
	background: #FFF;
}

.btn.black:before {
	background: #000;
}

.btn.white:not(.chainsaw-icon):hover,
.btn.white:not(.chainsaw-icon):focus,
.btn.white:not(.chainsaw-icon):active {
  color: #000;
}

.btn.black:not(.chainsaw-icon):hover,
.btn.black:not(.chainsaw-icon):focus,
.btn.black:not(.chainsaw-icon):active {
  color: #FFF;
}

.btn:not(.chainsaw-icon):hover:before,
.btn:not(.chainsaw-icon):focus:before,
.btn:not(.chainsaw-icon):active:before {
 -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Chainsaw animation*/
@keyframes spinChainsaw {

	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}

}

@-webkit-keyframes spinChainsaw {

	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}

}

/*--------------------------------------------------------------------
		Pace preloader
--------------------------------------------------------------------*/
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 800ms ease;
	-moz-transition:all 800ms ease;
	-o-transition:all 800ms ease;
	transition:all 800ms ease;

	background-size: 280px auto;
	background-image: url('../images/logo-1.png');
	background-color: #FFF;
	background-repeat: no-repeat;

	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-position: 1px 0;
}

.pace-inactive {
  display: block;
  opacity: 0;
  z-index: -1;
}

.pace-active {
  display: block;
  z-index: 99;
  opacity: 1;
  background-position: 50% 50%;
}

.pace .pace-progress {
  background-color: #000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 100%;
  height: 5px;
}


/*--------------------------------------------------------------------
		Logo Mask prelaoader
--------------------------------------------------------------------*/
#preloader {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: none;
	left: 0;
	top:0;
	z-index: 999;
}

#preloader .wrap-loader {
	position: relative;
	width: 300px;
	margin: 0 auto;
	top: 45%;
	height: 120px;
}

/*--------------------------------------------------------------------
		** IMPORTANT: Prelaoder animations  **
--------------------------------------------------------------------*/
.svg-loading #preloader {
	display: block;
}

/*Animate page when is fully load*/
.loaded #page {
	opacity: 1;
}

/*Mask preloader for first session*/
.svg-loading .pace .pace-activity,
.svg-loading .pace .pace-progress {
	display: none !important;
}

/*Mask preloader for first session*/
.scg-loading #preloader {
	display: block;
}

/*Mask preloader for first session*/
.svg-loading .logo-pace-mask {
	width: 100%;
}


/*--------------------------------------------------------------------
		SVG logo animation
--------------------------------------------------------------------*/
.svg-loading.loaded #preloader {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;

	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;

	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;

	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

#preloader svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

#preloader #furniture {
	opacity: 0;

	-webkit-backface-visibility: hidden;
	-webkit-transition:all 600ms ease;
	-moz-transition:all 600ms ease;
	-ms-transition:all 600ms ease;
	-o-transition:all 600ms ease;
	transition:all 600ms ease;
}

#preloader .end #furniture {
	opacity: 1;
}


#preloader #jaymiron path {
	fill-opacity: 0;
	stroke: #000;
	stroke-width: 1;
	stroke-dasharray: 870;
	stroke-dashoffset: 870;

	-webkit-animation: draw 4s ease-in-out 0s alternate 1 both;
	-ms-animation: draw 4s ease-in-out 0s alternate 1 both;
	animation: draw 4s ease-in-out 0s alternate 1 both;
}

#preloader .end #jaymiron path {
	-webkit-backface-visibility: hidden;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-o-transition:all 400ms ease;
	transition:all 400ms ease;

	stroke-width: 0;
	fill-opacity: 1;
}


@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@-ms-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


body.desktop.ie #preloader {
	display: none !important;
}
